<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Latitude</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<!-- Header--->   
<script src="../static/header.js"></script>

<!-- Content -->
    <div class='container'>       
        <br>
    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body mainpage">
                        <h1>Latitude vs. Maximum Temperature</h1>
                        <hr>
                        <img class="img img-responsive image" img src="../assets/images/Temp.png"  >
                        <hr>
                        <div class="par"> <p>As expected, the weather becomes significantly warmer as one approaches the equator.  Also as expected, 
                                the temeratures are warmer in the hemisphere that is in the summer season.</p></div>
                              
                    </div>
                </div>
            </div>
        </div>        
 